Summoner Name: <%= @summoner.name %><br>
Summoner Level: <%= @summoner.level %><br>

<%= form_for @new_summoner do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.submit %>
<% end %>

<img src="http://ddragon.leagueoflegends.com/cdn/5.12.1/img/profileicon/<%= @summoner.icon %>.png" style="width:200px;height:200px;">

<br><br>

<div class="champions">
  <% @champions.each do |champion| %>
    <img id="<%= champion.id %>" src="http://ddragon.leagueoflegends.com/cdn/5.22.3/img/champion/<%= champion.name %>.png">
  <% end %>
</div>
