<div class="row">
  <div class="champion_1 large-5 columns">
    <h1><%= @champion_1.name %></h1>
  </div>

  <div class="large-2 columns">
    <br>

    <h3>vs.</h3>
  </div>

  <div class="champion_2 large-5 columns">
    <h1><%= @champion_2.name %></h1>
  </div>
  <hr>
</div>
<div class="row">
  <div class="champion_1 large-5 columns">
    Armor: <span id="armor-1"><%= @champion_1.armor %></span><br>
    Armor Pen/lvl: <span id="armor-pen-1"><%= @champion_1.armorperlevel %></span><br>
    AD: <span id="ad-1"><%= @champion_1.attackdamage %></span><br>
    AD/lvl: <span id="adlvl-1"><%= @champion_1.attackdamageperlevel %></span><br>
    Attack Range: <span id="ar-1"><%= @champion_1.attackrange %></span><br>
    Attackspeedperlevel: <span id="aslvl-1"><%= @champion_1.attackspeedperlevel %></span><br>
    HP: <span id="hp-1"><%= @champion_1.hp %></span><br>
    HP/lvl: <span id="hplvl-1"><%= @champion_1.hpperlevel %></span><br>
    HP Regen: <span id="hpregen-1"><%= @champion_1.hpregen %></span><br>
    HP Regen/lvl: <span id="hpregenlvl-1"><%= @champion_1.hpregenperlevel %></span><br>
    Movespeed: <span id="ms-1"><%= @champion_1.movespeed %></span><br>
    MP: <span id="mp-1"><%= @champion_1.mp %></span><br>
    MP/lvl: <span id="mplvl-1"><%= @champion_1.mpperlevel %></span><br>
    MP Regen: <span id="mpregen-1"><%= @champion_1.mpregen %></span><br>
    MP Regen/lvl: <span id="mpregenlvl-1"><%= @champion_1.mpregenperlevel %></span><br>
    Spellblock: <span id="sb-1"><%= @champion_1.spellblock %></span><br>
    Spellblock/lvl: <span id="sblvl-1"><%= @champion_1.spellblockperlevel %></span><br>
  </div>
  <div class="champion_2 large-5 columns">
    Armor: <span id="armor-2"><%= @champion_2.armor %></span><br>
    Armor Pen/lvl: <span id="armor-pen-2"><%= @champion_2.armorperlevel %></span><br>
    AD: <span id="ad-2"><%= @champion_2.attackdamage %></span><br>
    AD/lvl: <span id="adlvl-2"><%= @champion_2.attackdamageperlevel %></span><br>
    Attack Range: <span id="ar-2"><%= @champion_2.attackrange %></span><br>
    Attackspeedperlevel: <span id="aslvl-2"><%= @champion_2.attackspeedperlevel %></span><br>
    HP: <span id="hp-2"><%= @champion_2.hp %></span><br>
    HP/lvl: <span id="hplvl-2"><%= @champion_2.hpperlevel %></span><br>
    HP Regen: <span id="hpregen-2"><%= @champion_2.hpregen %></span><br>
    HP Regen/lvl: <span id="hpregenlvl-2"><%= @champion_2.hpregenperlevel %></span><br>
    Movespeed: <span id="ms-2"><%= @champion_2.movespeed %></span><br>
    MP: <span id="mp-2"><%= @champion_2.mp %></span><br>
    MP/lvl: <span id="mplvl-2"><%= @champion_2.mpperlevel %></span><br>
    MP Regen: <span id="mpregen-2"><%= @champion_2.mpregen %></span><br>
    MP Regen/lvl: <span id="mpregenlvl-2"><%= @champion_2.mpregenperlevel %></span><br>
    Spellblock: <span id="sb-2"><%= @champion_2.spellblock %></span><br>
    Spellblock/lvl: <span id="sblvl-2"><%= @champion_2.spellblockperlevel %></span><br>
  </div>
</div>



