<%= @champion_1.name %> vs <%= @champion_2.name %>

<br><br>


<div class="champion_1">
  <p>Armor: <%= @champion_1.armor %></p>
  <p>Armor Pen/lvl: <%= @champion_1.armorperlevel %></p>
  <p>AD: <%= @champion_1.attackdamage %></p>
  <p>AD/lvl: <%= @champion_1.attackdamageperlevel %></p>
  <p>Attack Range: <%= @champion_1.attackrange %></p>
  <p>Attackspeedoffset: <%= @champion_1.attackspeedoffset %></p>
  <p>Attackspeedperlevel: <%= @champion_1.attackspeedperlevel %></p>
  <p>Crit: <%= @champion_1.crit %></p>
  <p>Crit/lvl: <%= @champion_1.critperlevel %></p>
  <p>HP: <%= @champion_1.hp %></p>
  <p>HP/lvl: <%= @champion_1.hpperlevel %></p>
  <p>HP Regen: <%= @champion_1.hpregen %></p>
  <p>HP Regen/lvl: <%= @champion_1.hpregenperlevel %></p>
  <p>Movespeed: <%= @champion_1.movespeed %></p>
  <p>MP: <%= @champion_1.mp %></p>
  <p>MP/lvl: <%= @champion_1.mpperlevel %></p>
  <p>MP Regen: <%= @champion_1.mpregen %></p>
  <p>MP Regen/lvl: <%= @champion_1.mpregenperlevel %></p>
  <p>Spellblock: <%= @champion_1.spellblock %></p>
  <p>Spellblock/lvl: <%= @champion_1.spellblockperlevel %></p>
</div>

<div class="champion_2">
  <p>Armor: <%= @champion_2.armor %></p>
  <p>Armor Pen/lvl: <%= @champion_2.armorperlevel %></p>
  <p>AD: <%= @champion_2.attackdamage %></p>
  <p>AD/lvl: <%= @champion_2.attackdamageperlevel %></p>
  <p>Attack Range: <%= @champion_2.attackrange %></p>
  <p>Attackspeedoffset: <%= @champion_2.attackspeedoffset %></p>
  <p>Attackspeedperlevel: <%= @champion_2.attackspeedperlevel %></p>
  <p>Crit: <%= @champion_2.crit %></p>
  <p>Crit/lvl: <%= @champion_2.critperlevel %></p>
  <p>HP: <%= @champion_2.hp %></p>
  <p>HP/lvl: <%= @champion_2.hpperlevel %></p>
  <p>HP Regen: <%= @champion_2.hpregen %></p>
  <p>HP Regen/lvl: <%= @champion_2.hpregenperlevel %></p>
  <p>Movespeed: <%= @champion_2.movespeed %></p>
  <p>MP: <%= @champion_2.mp %></p>
  <p>MP/lvl: <%= @champion_2.mpperlevel %></p>
  <p>MP Regen: <%= @champion_2.mpregen %></p>
  <p>MP Regen/lvl: <%= @champion_2.mpregenperlevel %></p>
  <p>Spellblock: <%= @champion_2.spellblock %></p>
  <p>Spellblock/lvl: <%= @champion_2.spellblockperlevel %></p>
</div>


