<p id="notice"><%= notice %></p>
Name: <%= @champion.name %><br><br>
Armor: <%= @champion.armor %><br>
Armor Pen/lvl: <%= @champion.armorperlevel %><br>
AD: <%= @champion.attackdamage %><br>
AD/lvl: <%= @champion.attackdamageperlevel %><br>
Attack Range: <%= @champion.attackrange %><br>
Attackspeedoffset: <%= @champion.attackspeedoffset %><br>
Attackspeedperlevel: <%= @champion.attackspeedperlevel %><br>
Crit: <%= @champion.crit %><br>
Crit/lvl: <%= @champion.critperlevel %><br>
HP: <%= @champion.hp %><br>
HP/lvl: <%= @champion.hpperlevel %><br>
HP Regen: <%= @champion.hpregen %><br>
HP Regen/lvl: <%= @champion.hpregenperlevel %><br>
Movespeed: <%= @champion.movespeed %><br>
MP: <%= @champion.mp %><br>
MP/lvl: <%= @champion.mpperlevel %><br>
MP Regen: <%= @champion.mpregen %><br>
MP Regen/lvl: <%= @champion.mpregenperlevel %><br>
Spellblock: <%= @champion.spellblock %><br>
Spellblock/lvl: <%= @champion.spellblockperlevel %><br><br>

Q: <%= @q.name %><br>
W: <%= @w.name %><br>
E: <%= @e.name %><br>
R: <%= @r.name %><br>
